body {
  background-color: #e9ecef;
}

.site-header {
  display: flex;
  align-items: flex-start; /* boven uitlijnen, zodat titel boven knoppen komt */
  gap: 20px;
  padding: 20px;
  background-color: #003366; 
  border-radius: 12px;
  flex-wrap: wrap;
}

.logo {
  height: 100px;
  border-radius: 12px;
  flex-shrink: 0;
}
